body {
    width: 100%;
    padding-top: 50px;
    margin: 0;
    background-color: #f0f0f0;
    overflow-x: hidden;
}
* {
    font-family: Helvetica, Verdana;
}

a {
    text-decoration: none;
    font-size: 15px;
}
a:link {color: #ccc;}
a:visited {color: #ccc;}
a:hover {color: #00c4cc; text-decoration: underline;}
a:active {color: #000;}

header, section, footer {
    display: block;
    width: 680px;
    margin: 0 auto;
}
header {
    font-size: 16px;
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,0.07);
    padding-bottom: 20px;
}
header>h1 {
    margin: 10px 0;
    font-size: 26px;
    color: rgba(0,0,0,0.72);
}
header>h2 {
    margin: 10px 0;
    font-weight: normal;
    font-size: 20px;
    color: rgba(0,0,0,0.51);
}
header>div {
    display: inline;
    color: rgba(0,0,0,0.51);
    margin-left: 20px;
}
section>h1 {
    font-size: 20px;
    color: rgba(0,0,0,0.72);
}
section>p, section>ul, section>ol {
    color: rgba(0,0,0,0.51);
}
.itali-para {
    font-style: italic;
}
p:first-letter {
    font-size: 1.5em;
}
i.fa-toggle-off, i.fa-toggle-on {
    font-size: 20px;
    cursor: pointer;

}
i.fa-toggle-off:hover {
    color: #00c4cc;
}
.img-box {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    margin-left: 20px;
    width: 200px;
    height: 180px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07);
}
.img-box h2 {
    font-weight: normal;
    font-size: 14px;
    color: rgba(0,0,0,0.51);
}
.img-box img {
    width: 200px;
}
li.reverse {
    counter-increment: c -1;
}
li.reverse:before {
    content: counter(c) ".  ";
}
.reverseList {
    padding-left: 18px;
    counter-reset: c 4;
    list-style: none;
}
li.reverse dl {
    padding-left: 22px;
}
.highlight {
    font-weight: bold;
}
ol>li>ul {
    padding: 0;
}
ol>li>dl>dd, ol>li>dl>dt {
    list-style: none;
}
ol>li>dl>dt {
    font-size: 14px;
    font-weight: normal;
}
ol>li>dl>dd {
    font-size: 13px;
    font-weight: normal;
}
footer {
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: right;
    font-size: 12px;
    color: #aaa;
}
footer>a {
    color: #000;
    opacity: .5;
}
footer img {
    width: 50px;
}
footer>a:hover {
    opacity: 1;
}