<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>{{ movie['name'] }}</title>
		<link rel="shortcut icon" href="{{ static_url('images/rotten.gif') }} ">
		<link href="{{ static_url('movie.css') }}" type="text/css" rel="stylesheet" />
	</head>

	<body>
	    <header>
		    <div class="head-image"></div>
	    </header>

	    <h1>{{ movie['name'] }} ({{ movie['year'] }})</h1>

	    <article>
	    	<aside>
		  	    <img src="{{ movie['image'] }}" alt="general overview" />
	      		<dl>
	      			{% for key, value in gen_review.items() %}
		      			<dt>{{ key }}</dt>
		      			<dd>{% raw value %}</dd>
	      			{% end %}
	    	   	    <!--<dt>STARRING</dt>
	    	        <dd>Mako <br /> Sarah Michelle Gellar</dd>

			        <dt>DIRECTOR</dt>
				    <dd>Kevin Munroe</dd>

					<dt>RATING</dt>
					<dd>PG</dd>

					<dt>THEATRICAL RELEASE</dt>
					<dd>Mar 23, 2007</dd>

					<dt>MOVIE SYNOPSIS</dt>
					<dd>After the defeat of their old arch nemesis, The Shredder, the Turtles have grown apart as a family.</dd>

					<dt>MPAA RATING</dt>
					<dd>PG, for animated action violence, some scary cartoon images and mild language</dd>

					<dt>RELEASE COMPANY</dt>
					<dd>Warner Bros.</dd>

					<dt>GENRE</dt>
					<dd>Action/Adventure, Comedies, Childrens, Martial Arts, Superheroes, Ninjas, Animated Characters</dd>

					<dt>OFFICIAL MOVIE SITE</dt>
					<dd><a href="http://www.tmnt.com/">The Official TMNT Site</a></dd>-->
  	 	   	    </dl>
			</aside>
			<section>
				<div class="bar">
				{% if movie['score'] >= 60 %}
					<img src="{{ static_url('images/freshbig.png') }}" alt="Rotten" />
				{% else %}
					<img src="{{ static_url('images/rottenbig.png') }}" alt="Rotten" />
				{% end %}
					<strong>{{ movie['score'] }}% </strong><span>({{ movie['review_account'] }} reviews total)</span>
				</div>
				<div class="column" id="left">
				{% for comment in comments %}
					{% if comment == comments[int(comments_acc/2)] %}
					</div>
					<div class="column" id="right">
					{% else %}
					<div class="comment">
	 				    <div class="content">
	 				    {% if comment['good'] == 'ROTTEN' %}
							<img src="{{ static_url('images/rotten.gif') }}" alt="Rotten" />
						{% else %}
							<img src="{{ static_url('images/fresh.gif') }}" alt="Fresh" />
						{% end %}
							<p>{{ comment['content'] }}</p>
	   					</div>
						<div class="author">
							<img src="{{ static_url('images/critic.gif') }}" alt="Critic" />
							<p>{{ comment['author'] }}<br><em>{{ comment['info'] }}</em></p>
		   				 </div>
					</div>
					{% end %}
				{% end %}
				</div>

					<!--div class="comment">
						<div class="content">
							<img src="images/fresh.gif" alt="Fresh" />
							<p>TMNT is a fun, action-filled adventure that will satisfy longtime fans and generate a legion of new ones.</p>
	    				</div>
		    			<div class="author">
							<img src="images/critic.gif" alt="Critic" />
							<p>Todd Gilchrist <br><em>IGN Movies</em></p>
						</div>
					</div>
					<div class="comment">
						<div class="content">
							<img src="images/rotten.gif" alt="Rotten" />
							<p>It stinks!</p>
	    				</div>
		    			<div class="author">
							<img src="images/critic.gif" alt="Critic" />
							<p>Jay Sherman <br><em>(unemployed)</em></p>
		    			</div>
					</div>

					<div class="comment">
	   	 				<div class="content">
							<img src="images/rotten.gif" alt="Rotten" />
							<p>The rubber suits are gone and they've been redone with fancy computer technology, but that hasn't stopped them from becoming dull.</p>
	    				</div>
						<div class="author">
							<img src="images/critic.gif" alt="Critic" />
							<p>Joshua Tyler <br><em>CinemaBlend.com</em></p>
		    			</div>

				<div class="column">
					<div class="comment">
						<div class="content">
							<img src="images/rotten.gif" alt="Rotten" />
							<p>The turtles themselves may look prettier, but are no smarter; torn irreparably from their countercultural roots, our superheroes on the half shell have been firmly co-opted by the industry their creators once sought to spoof.</p>
	    				</div>
						<div class="author">
							<img src="images/critic.gif" alt="Critic" />
							<p>Jeannette Catsoulis <br><em>New York Times</em></p>
		    			</div>
					</div>

				    <div class="comment">
						<div class="content">
							<img src="images/rotten.gif" alt="Rotten" />
							<p>Impersonally animated and arbitrarily plotted, the story appears to have been made up as the filmmakers went along.</p>
	    				</div>
						<div class="author">
							<img src="images/critic.gif" alt="Critic" />
							<p>Ed Gonzalez <br><em>Slant Magazine</em></p>
		   	 			</div>
					</div>
					<div class="comment">
						<div class="content">
							<img src="images/fresh.gif" alt="Rotten" />
							<p>The striking use of image and motion allows each sequence to leave an impression. It's an accomplished restart to this franchise.</p>
	    				</div>
						<div class="author">
							<img src="images/critic.gif" alt="Critic" />
							<p>Mark Palermo <br> <em>Coast (Halifax, Nova Scotia)</em> </p>
		   	 			</div>
					</div>
					<div class="comment">
						<div class="content">
							<img src="images/rotten.gif" alt="Rotten" />
							<p>The script feels like it was computer generated. This mechanical presentation lacks the cheesy charm of the three live action films.</p>
	    				</div>
						<div class="author">
							<img src="images/critic.gif" alt="Critic" />
							<p>Steve Rhodes <br> <em>Internet Reviews</em> </p>
		   	 			</div>
					</div>
				</div>-->
		    </section>
		    <p class="footer">(1-{{comments_acc}}) of {{ movie['review_account'] }}</p>
	    </article>
	    <div class="btns">
	    	<a href=" http://validator.w3.org/check/referer"><img src="http://www.w3.org/Icons/valid-xhtml11" alt="w3c"></a>
	        <a href="http://jigsaw.w3.org/css-validator/check/referer"><img src="http://jigsaw.w3.org/css-validator/images/vcss" alt="w3ccss"></a>
    	</div>
    	<script>
    	window.onload = function(){
    		alert("{{ comments_acc }}");
    	}
    	</script>
	</body>
</html>
