body {
    font-family: sans-serif;

    margin: 0;
}
textarea {
    font-family: sans-serif;
}
.wrapper {
    width: 95%;
    margin: 0 auto;
}
.msg {
    position: relative;

    overflow: hidden;

    margin-top: 5px;
    padding-top: 6px;
}
.msg-left {
    position: absolute;
    bottom: 0;

    display: inline-block;

    width: 70px;

    vertical-align: top;
}
.msg-right {
    display: inline-block;

    max-width: 68%;
    margin-left: 70px;
    padding-bottom: 7px;

    vertical-align: top;

    //width: auto;
}
.msg-send-right {
    display: inline-block;
    float: right;

    max-width: 68%;
    margin-right: 70px;
    padding-bottom: 6px;

    vertical-align: top;

    //width: auto;
}
.msg-send-left {
    position: absolute;
    right: 0;
    bottom: 0;

    display: inline-block;

    width: 70px;

    vertical-align: top;
}
.avatar {
    bottom: 0;

    width: 50px;
    height: 50px;

    border-radius: 25px;
    background-color: #ccc;
}
.msg-send-left .avatar {
    float: right;
}
.msg-bubble-receive {
    position: relative;

    color: #fff;
    border-radius: 21px;
    background-color: #60b5d2;
}
.msg-bubble-receive:before {
    position: absolute;
    bottom: -1px;
    left: -8px;

    display: block;

    width: 21px;
    height: 24px;

    content: ' ';

    background-image: url(triangular.png);
    background-repeat: no-repeat;
    background-position: 0 -6px;
    background-size: 21px;
}
.msg-bubble-send {
    position: relative;

    color: #666;
    border-radius: 21px;
    background-color: #e9eeee;
}
.msg-bubble-send:after {
    position: absolute;
    right: -8px;
    bottom: -1px;

    display: block;

    width: 21px;
    height: 24px;

    content: ' ';

    background-image: url(triangular-right.png);
    background-repeat: no-repeat;
    background-position: 0 -6px;
    background-size: 21px;
}
.msg-bubble-receive .msg-content {
    padding: 10px 12px 10px 24px;
}
.msg-bubble-send .msg-content {
    padding: 10px 24px 10px 12px;
}
.msg-content p {
    margin: 0;

    word-break: break-all;
}
.input-area {
    position: fixed;
    overflow: hidden;
    bottom: 0;
    left: 0;

    width: 100%;

    border-top: 2px solid #d2d9dd;
    background-color: #e2e9ee;
}
.input-area textarea {
    display: block;

    width: 67%;
    height: 24px;
    margin-right: 13%;
    margin-left: 20%;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 15px;

    resize: none;

    border: none;
    outline: none;
    background-color: transparent;
}
.input-area form {
    position: relative;
    right: 0;
    width: 90%;
    margin: 10px auto;
    
    border-radius: 20px;
    background-color: #fff;
    -webkit-transition: right .5s ease-in;
    -o-transition: right .5s ease-in;
    transition: right .5s ease-in;
}
.input-area button {
    top: 50%;
    right: 6px;

    overflow: hidden;
    opacity: .7;
    width: 26px;
    height: 26px;
    margin-top: -13px;

    cursor: pointer;

    border: none;
    border-radius: 13px;
    outline: none;
    background: #5bacdb;
    background-image: url(send.png);
    background-repeat: no-repeat;
    background-size: 26px 26px;
    box-shadow: none;
}
.input-area button:active {
    opacity: 1;
}
.fake-input {
    height: 60px;
    margin: 0;
}
.send {
    position: absolute;
    right: 0;
}

.divider {
    position: relative;

    width: 100%;
    height: 20px;
    margin-top: 30px;
    margin-bottom: 10px;

    text-align: center;
}
.split-line {
    width: 75%;
    height: 1px;
    margin: 0 auto;

    border-bottom: 1px solid #ccc;
}
.line-content {
    position: absolute;
}
.line-label {
    font-size: 12px;
    font-weight: bold;

    position: relative;
    top: -12px;

    display: inline-block;

    height: 12px;
    padding: 0 9px;

    text-align: center;

    color: #ccc;
    background-color: #fff;
}
.line-label p {
    margin: 0;
}

.msg-image p {
    padding-right: 32px;
    padding-left: 16px;
}
.msg-image img {
    width: 200px;
}
.msg-image .msg-content {
    overflow: hidden;

    padding: 0;
    padding-bottom: 10px;

    border-radius: 21px;
}
.append-photo {
    position: absolute;
    top: 50%;
    left: 10px;

    width: 22px;
    height: 22px;
    margin-top: -11px;

    cursor: pointer;

    opacity: .6;
    background-image: url(photo.png);
    background-repeat: no-repeat;
    background-size: 22px;
}
.append-record {
    position: absolute;
    top: 50%;
    left: 38px;

    width: 22px;
    height: 22px;
    margin-top: -11px;

    cursor: pointer;

    opacity: .6;
    background-image: url(record.png);
    background-repeat: no-repeat;
    background-size: 22px;
}
.append-photo:active, .append-record:active {
    opacity: 1;
}

.record-mode {
    display: block;
    position: absolute;
    top: 50%;
    width: 100%;
    left: -100%;
    -webkit-transition: left .5s ease-in;
    -o-transition: left .5s ease-in;
    transition: left .5s ease-in;
}
.record-mode-area {
    position: relative;
    width: 80%;
    margin: 0 auto;
}
.mode-active {
    left: 0;
    -webkit-transition: left .5s ease-in;
    -o-transition: left .5s ease-in;
    transition: left .5s ease-in;
}
form.form-outside {
    right: -100%;
    -webkit-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    transition: all .5s ease-in;
}
.record-btn {
    position: absolute;
    overflow: hidden;
    right: 0;
    height: 34px;
    width: 85%;
    background-color: #fff;
    border-radius: 17px;
}

.record-btn:active {
    background-color: #ddd;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.record-btn p {
    -webkit-user-select: none;
    -moz-user-select: none; 
    color: #444;
    margin: 0 auto;
    line-height: 34px;
    text-align: center;
}
.keyboard-btn {
    top: 50%;
    right: 6px;

    overflow: hidden;
    opacity: .7;
    width: 34px;
    height: 34px;
    margin-top: -17px;

    cursor: pointer;

    border: none;
    border-radius: 17px;
    outline: none;
    background: #5bacdb;
    background-image: url(keyboard.png);
    background-repeat: no-repeat;
    background-size: 34px 34px;
    box-shadow: none;
}
.keyboard-btn:active {
    opacity: 1;
}