<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; maximum-scale=1.0;" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

    <div class="msg">
      <div class="msg-left">
        <div class="msg-left-avatar">
          <div class="avatar ava-receive"></div>
        </div>
      </div>
      <div class="msg-right">
        <div class="msg-bubble-receive">
          <div class="msg-content">
            <p>
              的感觉撒六朝古都个。
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="msg">
      <div class="msg-send-right">
      <div class="msg-bubble-send">
        <div class="msg-content">
          <p>
          大帅哥呵呵绝对可靠十几个。
          </p>
        </div>
      </div>
      </div>
      <div class="msg-send-left">
        <div class="avatar ava-receive"></div>
      </div>
      <div class="comp"></div>
    </div>

    <div class="msg">
      <div class="msg-left">
        <div class="msg-left-avatar">
          <div class="avatar ava-receive"></div>
        </div>
      </div>
      <div class="msg-right">
        <div class="msg-bubble-receive">
          <div class="msg-content">
            <p>
            中文支持还行吧，噢耶~
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="msg">
      <div class="msg-send-right">
      <div class="msg-bubble-send">
        <div class="msg-content">
          <p>
          嗯嗯
          </p>
        </div>
      </div>
      </div>
      <div class="msg-send-left">
        <div class="avatar ava-receive"></div>
      </div>
      <div class="comp"></div>
    </div>

    <div class="msg">
      <div class="msg-left">
        <div class="msg-left-avatar">
          <div class="avatar ava-receive"></div>
        </div>
      </div>
      <div class="msg-right">
        <div class="msg-bubble-receive">
          <div class="msg-content">
            <p>
            中文支持还行吧，噢耶~
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="msg">
      <div class="msg-send-right">
      <div class="msg-bubble-send">
        <div class="msg-content">
          <p>
          嗯嗯
          </p>
        </div>
      </div>
      </div>
      <div class="msg-send-left">
        <div class="avatar ava-receive"></div>
      </div>
      <div class="comp"></div>
    </div>

    <div class="msg">
      <div class="msg-left">
        <div class="msg-left-avatar">
          <div class="avatar ava-receive"></div>
        </div>
      </div>
      <div class="msg-right">
        <div class="msg-bubble-receive">
          <div class="msg-content">
            <p>
            中文支持还行吧，噢耶~
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="msg">
      <div class="msg-send-right">
      <div class="msg-bubble-send">
        <div class="msg-content">
          <p>
          嗯嗯
          </p>
        </div>
      </div>
      </div>
      <div class="msg-send-left">
        <div class="avatar ava-receive"></div>
      </div>
      <div class="comp"></div>
    </div>

    <div class="msg">
      <div class="msg-left">
        <div class="msg-left-avatar">
          <div class="avatar ava-receive"></div>
        </div>
      </div>
      <div class="msg-right">
        <div class="msg-bubble-receive">
          <div class="msg-content">
            <p>
            中文支持还行吧，噢耶~
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="msg">
      <div class="msg-send-right">
      <div class="msg-bubble-send">
        <div class="msg-content">
          <p>
          嗯嗯
          </p>
        </div>
      </div>
      </div>
      <div class="msg-send-left">
        <div class="avatar ava-receive"></div>
      </div>
      <div class="comp"></div>
    </div>

  </body>
</html>